/*#allPage {
    position: relative;
	width: 100%;
}*/

#tooplate_wrapper {
	width: 954px;
	height: 753px;
	margin: -25px auto 20px;
	background: url(tooplate_content_bg.jpg) top left no-repeat;
}

#tooplate_sidebar {
	float: left;	
	width: 296px;
	padding: 80px 0 0;
}

#home{
    overflow: hidden;
}

#header {
	width: 224px;
	padding: 0 36px;
	text-align: center;
	margin-bottom: 100px;
}

#header h1 { 
	margin: 0; 
	padding: 0; 
	height: 60px; 
	display: block;
	margin-top: 5px;
	font-family: 'Lobster', cursive;
}

#menu {
	width: 236px;
	padding-left: 60px;
}

.inside {
	float: right;
	width: 520px;
	height: 600px;	
	padding: 80px 100px 80px 0;
}


#footer {
	clear: both;
	width: 900px;
	padding: 0 27px;
	margin: 0 auto;
}

#footer_left { 
	float: right;
	width: 300px;
	text-align: right
}

#footer a {
	color: #bbb;
}

ul.navigation1 {
    list-style: none;
    margin: 0 auto;
    padding: 0;
}

ul.navigation1 li {
    display: inline;
    margin: 0;
	padding: 0;
}

ul.navigation1 a {
	display: block;
	height: 47px;
	padding: 12px 0 0 20px;
	color: #fff;
	font-size: 18px;
	font-weight: 400;
    text-decoration: none;
	font-family: 'Lobster Two';
}

.menu_01 { background: url(tooplate_menu_02.png) }
.menu_02 { background: url(tooplate_menu_03.png) }

ul.navigation1 a:hover, ul.navigation a.selected {
	color: #412810;
}

ul.navigation1 a:focus {
    outline: none;
}


body {
	margin: 0px;
	padding: 0px;
	color: #666;
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 14px;
	line-height: 1.5em; 
	background-color: #e2d8bd;
	background-image: url(tooplate_body.jpg);
	background-repeat: repeat;
}

a, a:link, a:visited {color: #666; text-decoration: none; }
a:hover { text-decoration: none; }

p { margin: 0 0 15px 0; padding: 0; }
img { border: none; }

h1, h2, h3, h4, h5, h6 { color: #482d12; font-family: Georgia, "Times New Roman", Times, serif; }
h1 { font-size: 38px; font-weight: normal; margin: 0 0 20px 0; padding: 5px 0; }
h2 { font-size: 30px; font-weight: normal; margin: 0 0 30px 0; font-weight: normal; }
h3 { font-size: 16px; margin: 0 0 15px 0; padding: 0; padding: 0; font-weight: normal;  }
h4 { font-size: 14px; margin: 0 0 5px 0; padding: 0; }

.cleaner { clear: both; width: 100%; height: 0px; font-size: 0px;  }
.cleaner_h10 { clear: both; width:100%; height: 10px; }
.cleaner_h20 { clear: both; width:100%; height: 20px; }
.cleaner_h30 { clear: both; width:100%; height: 30px; }
.cleaner_h40 { clear: both; width:100%; height: 40px; }
.cleaner_h50 { clear: both; width:100%; height: 50px; }
.cleaner_h60 { clear: both; width:100%; height: 60px; }



blockquote { font-style: italic; margin: 0 0 0 10px;}
cite { font-weight: bold; color:#333; }
cite span { color: #666; }
em { color: #29b5d3; }

.calendar.fc.fc-ltr.fc-unthemed {
    margin-top: 50px;
}


.lecturesTable {
	font-family: 'Crete Round', serif;
	font-size: 20px;
	border-collapse:collapse; 
    width: 470px;
    margin-left: 40px;
}

#addNewLectureInput {
	display:none;
        margin-left:32px;
        
}
.lecture{
    width:195px;
    margin-left:5px;
    padding: 2px 3px;
    margin-bottom:0px;
}

.dayViewHeader{
    float: left;
    margin: 0px 0px 30px 40px;
}
.openLectureModal {
    float: right;
    margin: 15px;
}
#addNewLecture {
	width: 25px;
	height: 25px;
	float:right;
	font-size: 10px;
	padding: 5px;
	margin: 8px;
}
.timeInput{
	width: 45px;
	text-align: center;
    margin-left:5px;
    margin-right:25px;
    padding: 2px 3px;
    margin-bottom:0px;
}


table.lecturesTable td {
	border-bottom: 1px solid lightgrey;
}



.footer {
	bottom:50px;
	height:50px;
    width:500px
}

#saveButton {
	float:right;
}
#closeButton{
    float:left;
}
#backButton {
	float: left;
    width:30px;
    height:25px;
    margin-left:42px;
}

#login-buttons{
    padding: 10px 0px 0px 15px;
    color: floralwhite;
}

.logInButton {
    margin-left: 587px;
    margin-top: 70px;
}

::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}

#signInPage {
    height:400px;

    margin: auto;
    margin-top:150px;
    background: url("planning2.png");
}

.signInHeader {
    padding-top: 50px;
    padding-left: 500px;
    /* right: auto; */
    font-size: 72px;
    font-family: inherit;
    font-weight: normal;
    margin: 0 0 20px 0;
    /* padding: 5px 0; */
    color: rgb(75, 61, 64);
}

.login-buttons-with-only-one-button{
    padding-top:10px;
    padding-left: 30px
}

.logout-buttons-with-only-one-button{
    padding-top:0px;
    padding-left: 0px
}

.login-button {
    width:200px;
    height:20px;

}

.logout-button {
    width:50px;
    height:10px;

}

.sign-in-text-facebook{
    font-size:18px;
}

.check{
    float: right;
    width: 30px;
    height: 25px;
}

#backConspectusButton {
    float: left;
    width:30px;
    height:25px;
}

#writtenConspectus {
    height: 400px;
    width: 480px;
    max-height:450px;
    max-width: 494px

}

.scroll {
    height: 500px;
    width: 550px;
    overflow: auto;
    overflow-x: hidden;
    clear: left;
}

.hiddenRow {
    padding: 0 !important;
}

.table {
    margin-bottom: 0px;
}

.done {
    text-decoration: line-through;
    color: #B1B0B0;
}

.center {
    text-align: center !important;
}

.small-cell {
    width: 2%;
}

.lists {
    margin-top: 110px;
}

.listname-input {
    margin-left: 10px;
    width: 86%;
}

.span8 {
    width: 284px;
}

.span3 {
    width: 180px;
    margin-left: 50px;
}

.modal-header, .modal-body{
    font-family: Arial;
}

.homeworkRow {
    line-height: 35px;
}

.removeHomework {
    margin-left: 5px;
}

#todo-input {
    margin-top: -21px;
}

#place {
    padding: 2px 3px;
    margin-bottom:0px;
    width:50px;
}
.input-xlarge2 {
    width: 100px;
}

a.testin {
    width: 170px;
}

.icon.icon-remove{
    margin-top:6px;
}

td.todo-item-text{
    max-width: 170px;
    word-wrap: break-word;
}

.todosHeader {
    width: 400px;
}